/* CORES DA MARCA 
#2d6464

#e2eced

#789495

#92b4b4

#93acb4 
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d6464;
}
header {
    background-color: #2d6464;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

header a:hover{
    background-color:#789495;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

header nav a:hover{
    background-color:#789495;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

p{
    color:#000000;
}

h2{
    color:#e2eced;
}

.logo-container img {
    width: 1280px; /* Defina a largura desejada */
    height: auto; /* Mantenha a proporção da imagem */
    border-radius: 60px;
}

.logo-container img:hover{
    background-color:#789495;
    transform: scale(1.01); /* Aumenta o tamanho em 5% quando o mouse passa sobre o projeto */
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px; /* Adiciona borda arredondada */
}

.profile-image img:hover{
    background-color:#789495;
    transform: scale(1.50); /* Aumenta o tamanho em 5% quando o mouse passa sobre o projeto */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.profile-text {
    flex: 1;
    background-color: #e2eced;
    padding: 20px;
    border-radius: 60px;
}

.profile-text:hover {

    transform: scale(1.30); /* Aumenta o tamanho em 5% quando o mouse passa sobre o projeto */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.profile-text p {
    margin: 0; /* Remove a margem padrão do parágrafo */
} 

.project {
    background-color: #e2eced;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 120px;
}
.project:hover{
    background-color:#789495;
    transform: scale(1.05); /* Aumenta o tamanho em 5% quando o mouse passa sobre o projeto */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.project-content {
    display: flex;
    align-items: center;
}

.project-image {
    flex: 1;
    width: 200px;
    height: 250px;
}

.project-text {
    flex: 2;
    padding: 20px;
}

.project-text h3 {
    margin-top: 0;
}

.project img {
    max-width: 100%;
    height: auto;
}
/* Estilo para os links do header */
nav {
    text-align: center;
    background-color: #2d6464;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
/* Estilo para centralizar a imagem do logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background-color: #789495;
    color:#ecf0f1;
    padding: 60px 0;
    text-align: center;
}

